extends layout

block content
  h1= title
  p Welcome to #{title}
  textarea#dataArea(onkeyup='syncTextArea()')

block otherincludes
  script(src='/js/index_dftest.js')
  script(src='/js/diff_match_patch.js')
